- variant = 'control'
%div.cmp-pricing-plan-list.experiment-container.experiment-control
  .row#pricing-nav-mobile
    -# empty div where the navigation will go once generated by javascript
  .row.plans
    - control_pricing_plans = data.components.education_campus.plans.dup
    -# Must use .dup otherwise you're referencing the same object when copying the variable.
    - control_plans = control_pricing_plans
    - control_plans.each_with_index do |plan_control, index|
      - free = plan_control.id == 'silver-premium'
      %div{class: "col-md-4 plan plan-#{plan_control.id}"}
        .plan-inner-wrapper
          .content
            .title= plan_control.title
            %p.descriptionz.subtitle= plan_control.description
            -#.sub-description= plan_control.sub_description
            -# .price $#{plan_control.monthly_price}
            -# .price-monthly /user/month
            -# - unless free
            -#   .price-annually (Billed annually at $#{plan_control.monthly_price * 12} USD)
            -#.plan-reason= plan_control.reason
          .features
            .feature-title
            %ul
              - plan_control.features.each do |feature|
                %li
                  %span.icon= partial "/images/icons/slp-checkmark.svg"
                  %span= feature.title
            %a{ href: "#{plan_control.link}", class: "btn cta-btn start-#{plan_control.id}", "data-cta-location": "#{plan_control.link_title}", "data-cta-section": "pricing" }= plan_control.link_title
        %div.footnote= plan_control.footnote
        
