:markdown

  ## Lead

  The Technical Writing Lead leads the Technical Writing team. Their responsibilities include:
  * Maintain a single source of truth across our sites, documentation and tutorials.
  * Deliver input on promotions, function changes, demotions and firings in consultation with the CEO, and VP of Product

  ### Documentation

  * Lead documentation improvement efforts.
  * Create practices that encourage keeping documentation up to date and easily discoverable.
  * Make sure by the time of release all documentation, guides and content.

  ### Tutorials

  * Build out GitLab University so that everyone can quickly get started with GitLab.
  * Create tutorials on a workflow designed around GitLab's defining features.

  ### Website

  * Work with the Sales and Marketing team leads to make sure the website product content is comprehensive and up to date.
  * Create a self-managing framework for the Community Writers program.
  * Grow the Remote Only and Conversational Development websites.

  It is not the responsibility of the Technical Writing team to write
  documentation for new or updated features. All merge requests should include
  comprehensive documentation written by the Development team.
